@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.debug{
  border: 2px solid red;
}

ul > li{
  list-style: none;
}

li > a{
  text-decoration: none;
}

.btn_primary_style{
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  background-color: transparent;
  color: var(--primary_color);
  border: 2px solid var(--primary_color);
  padding: 18px 45px;
  border-radius: 70px;
  transition: all 400ms ease;
}

.btn_primary_style:hover{
  background-color: var(--primary_color);
  color: white;
}

a{
  text-decoration: none;
}

:root{
  --primary_color: #333333;
}



/* header style */
#mobile_menu{
  display: none;
}

.top_menu_area{
  background-color: #f6f6f6;

}
.country_money_sf{
  color: #707070;
  font-size: 14px;
}

.country_money_sf:hover{
  color: #707070;
  font-size: 14px;
}

.country_money:hover{
  color: #00bfc5;
}

.active_currency{
  color: #00bfc5 !important;
} 

.top_menu{
  padding-top: 30px;
  padding-bottom: 30px;
}

.icons_area{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons_area i{
  font-size: 22px;
  margin-right: 35px;
  color: #292929;
  cursor: pointer;
}

.icons_area i:hover{
  color: #00bfc5;
}

.bag_icon{
  position: relative;
}

.cart_item{
  position: absolute;
  top: -10px;
  right: -10px;
  color: #00bfc5;
  font-weight: 500;
  font-size: 15px;
}

.icon_min_menu{
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_min_menu i{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #c6c5c5
}

.icon_bar{
  position: relative;
}

.icon_bar_menu{
  background-color: whitesmoke;
  width: 250px;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 30px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.icon_bar:hover .icon_bar_menu{
  opacity: 1;
  visibility: visible;
}

.icon_bar:hover .icon_min_menu i{
  color: #00bfc5;
}

.icon_bar_menuItems li{
  font-weight: 600;
  font-size: 14px;
  text-align: left;
}

.mini_menu_hr{
  border: 1px solid grey;
}

.my_account{
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.icon_bar_menuItems li a{
  color: #707070 !important;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
}

/* header bottom style */
.main_menu{
  text-align: center;
  margin: 15px 0;
}

.down_arrow{
  font-size: 11px;
  color: #342a2a;
  font-weight: 600;
  cursor: pointer;
}

.header_bottom_part ul li a{
  color: #342a2a;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

.header_bottom_part ul li:hover > a{
  color: #00bfc5;
}

.header_bottom_part ul li:hover .down_arrow{
  color: #00bfc5;
}

.home_menu_parent,.shop_menu_parent{
  position: relative;
  z-index: 999;
}

.home_menu_parent > a{
  padding-bottom: 25px;
}

.home_diff_styles,.shop_diff_styles{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: -20px;
  background-color: white;
  text-align: left;
  box-shadow: 0 2px 8px #0000001a;
  width: 230px;
  padding: 10px 0 10px 10px;
  background-color: #fff;
}

.home_diff_styles li,.shop_diff_styles li{
  padding-top: 20px;
}

.home_diff_styles li a:hover,.shop_diff_styles li a:hover{
  color: #00bfc5 !important;
}

.home_menu_parent:hover .home_diff_styles,.shop_menu_parent:hover .shop_diff_styles{
  opacity: 1;
  visibility: visible;
}

/* banner style */
.banner_section{
  position: relative;
}

.banner_slider_1{
  background: url(../assets/bannerImg1.png) no-repeat center right;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.banner_slider_2{
  background: url(../assets/bannerImg2.png) no-repeat center right;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 665px;
}

.banner_slider_3{
  background: url(../assets/bannerImg3.png) no-repeat center right;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.banner_text h3,.banner_text_3 h3{
  color: #333333;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 20px;
}

.banner_text h2,.banner_text_3 h2{
  color: #333333;
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
}

.banner_text p{
  color: #292929;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 100%;
  width: 550px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.banner_text_3{
  text-align: right;
}

.banner_text_3 p{
  margin-left: auto;
  color: #292929;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 100%;
  width: 550px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.swiper-btn-next,.swiper-btn-prev{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #9e9e9e;
  border: 3px solid #e1e1e1;
  background: #f7f7f9;
  text-align: center;
  position: absolute;
  top: 50%;
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
  z-index: 10;
}

.swiper-btn-next{
  left: 30px;
}

.swiper-btn-prev{
  right: 30px;
}

.swiper-btn-next:hover ,.swiper-btn-prev:hover{
  color: #f7f7f9;
  background: var(--primary_color);
  border: none;
}

.banner_section:hover .swiper-btn-next,.banner_section:hover .swiper-btn-prev{
  opacity: 1;
  visibility: visible;
}

.swiper_pagination{
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet{
  width: 25px;
  height: 3px;
  background-color: #9e9e9e;
  border-radius: 0;
}

.swiper-pagination-bullet-active{
  background-color: var(--primary_color);
}



/* book collection style */
.book_collection_section{
  margin-top: 120px;
}

.book_img{
  width: 100%;
}

.book_collection_1,.book_collection_2,.book_collection_3{
  position: relative;
  cursor: pointer;
}

.book_collection_1:hover,.book_collection_2:hover,.book_collection_3:hover{
  opacity: 0.9;
}

.book_name{
  position: absolute;
  top: 45%;
  left: 50%;
  background: #fff;
  padding: 12px;
  padding-top: 18px;
  outline: 1px solid #fff;
  outline-offset: 6px;
  text-align: center;
  transform: translate(-50%);
}

.book_name h3{
  font-weight: 500;
  font-size: 22px;
  line-height: 18px;
  color: #292929;
}

.book_name h4{
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  color: #707070;
}

.book_name h4:hover{
  color: #00bfc5;
}


/* our products style */
.display{
  display: none;
}

.our_products_section{
  margin-top: 120px;
}

.our_products_section h3{
  font-weight: 500;
  font-size: 40px;
  line-height: 30px;
  margin-bottom: 20px;
}

.our_products_section p{
  color: #707070;
}

.tab_btns{
  margin-top: 30px;
  font-weight: 400;
  line-height: 41px;
  position: relative;
  margin-right: 10px;
  padding: 0 30px;
  cursor: pointer;
  color: #707070;
  border-radius: 3px;
  background: #f1f1f1;
}



/* testimonial style */
.testimonial_section{
  margin-top: 120px;
  background: url(../assets/Testimonial-BG.png) no-repeat center center;
  position: relative;
}

.testimonial_1,.testimonial_2,.testimonial_3{
  padding-top: 150px;
  padding-bottom: 100px;
}

.testimonial_1 img,.testimonial_2 img,.testimonial_3 img{
  margin-bottom: 40px;
}

.testimonial_author{
  margin-top: -20px;
}

.testimonial_text{
  width: 42%;
  color: #707070;
  line-height: 30px;
  font-size: 14px;
}

.testimonial-swiper-btn-next,.testimonial-swiper-btn-prev{
  font-size: 40px;
  color: var(--primary_color);
  border: none;
  background: none;
  text-align: center;
  position: absolute;
  top: 50%;
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
  z-index: 10;
}

.testimonial-swiper-btn-next{
  left: 100px;
}

.testimonial-swiper-btn-prev{
  right: 100px;
}

.testimonial-swiper-btn-next:hover,.testimonial-swiper-btn-prev:hover{
  color: #707070;
}

.testimonial_section:hover .testimonial-swiper-btn-next,.testimonial_section:hover .testimonial-swiper-btn-prev{
  opacity: 1;
  visibility: visible;
}
